---
name: "Test (Ubuntu 22.04)"

on:
  pull_request:
    branches:
      - "staging"
    paths-ignore:
      - "**.md"

  push:
    branches:
      - "staging"
    paths-ignore:
      - "**.md"

  schedule:
    - cron: "0 7 * * 0"

jobs:
  test:
    runs-on: "ubuntu-22.04"

    strategy:
      matrix:
        role:
          - "duplicati"
          - "filebrowser"
          - "forgejo"
          - "paperless_ai"
          - "paperlessngx"

    steps:
      - uses: "actions/checkout@v4"

      - name: "Print Ansible environment"
        run: "ansible --version"

      - name: "Print UID and GID"
        run: |
          echo "UID: $(id -u)"
          echo "GID: $(id -g)"

      - name: "Install dependencies"
        run: |
          # fix ModuleNotFoundError: No module named 'requests'
          /opt/pipx/venvs/ansible-core/bin/python -m pip install requests

          ansible-galaxy install geerlingguy.docker
          ansible-galaxy collection install community.docker
          ansible-galaxy collection install . -f

      - name: "Run playbook with role tag"
        run: |
          ansible-playbook -i localhost .github/ansible/playbook-ci.yml -v -e "ansible_user=${USER}" -e "user_uid=$(id -u)" -e "user_gid=$(id -g)" --tags ${{ matrix.role }}

      - name: "Wait for containers to start"
        run: "sleep 30"

      - name: "Print docker logs"
        run: |
          docker ps -a
          docker logs ${{ matrix.role }}

      - name: "Check container health"
        run: |
          status=$(docker inspect --format='{{.State.Health.Status}}' ${{ matrix.role }})
          echo "Container health status: $status"
          if [ "$status" != "healthy" ]; then
            echo "Container is not healthy. Failing the action."
            exit 1
          fi
